player-connection-mode=Listen
player-connection-guid=1945583246
player-connection-debug=0
player-connection-project-name=SquidBattle
player-connection-ip=192.168.1.54
gfx-threading-mode=6
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
build-guid=249287ae0d054f3fa57818a79c3afe0c
